asgiref
attrs
colorama
Django==5.1.7
django-filter
djangorestframework
drf-spectacular
inflection
iniconfig
jsonschema
jsonschema-specifications
packaging
pluggy
psycopg2-binary
Pygments
pytest
pytest-django
python-dotenv
PyYAML
referencing
rpds-py
sqlparse
typing_extensions
tzdata
uritemplate
gunicorn
